@model My_Journal.Models.Total

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Total</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Total1" class="control-label"></label>
                <input asp-for="Total1" class="form-control" />
                <span asp-validation-for="Total1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MesTotal" class="control-label"></label>
                <input asp-for="MesTotal" class="form-control" />
                <span asp-validation-for="MesTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTotalIngresos" class="control-label"></label>
                <select asp-for="IdTotalIngresos" class ="form-control" asp-items="ViewBag.IdTotalIngresos"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdTotalEgresos" class="control-label"></label>
                <select asp-for="IdTotalEgresos" class ="form-control" asp-items="ViewBag.IdTotalEgresos"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
